html {
  font-family: Helvetica;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}

h1 {
 /*font-size: 50px;*/ 
  margin-top: 0;
  background-color: #F7931A;
  color: #FFFFFF;
  /*padding: 20px;*/
}
  
img {
 width: 200px; 
}

button {
  color: white; 
  padding: 16px 40px;
  text-decoration: none; 
  font-size: 30px;
  margin: 2px;
  cursor: pointer;
  border-radius: 10px;  
}



.button-enabled {
  background-color: #57C21D;
  border-color:#32c200;
  
}

.button-disabled {
  background-color: #E63419;
  border-color: #e60c07;
}

.linktree {
  size: 30px;  
}

/*
.button {
  background-color: black;
  background-color: #57C21D;
  border-radius: 10px;
  color: white;
  padding: 16px 40px;
  text-decoration: none; 
  font-size: 30px;
  margin: 2px;
  cursor: pointer;
}

.button2 {
  background-color: #E63419;
}
*/
