html {
  font-family: Helvetica;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}

.button {
  background-color: #57C21D;
  border: none;
  color: white;
  padding: 16px 40px;
  text-decoration: none; 
  font-size: 30px; margin:
  2px; cursor: pointer;
}

.button2 {
  background-color: #E63419;
}
