html {
  font-family: Helvetica;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}

h1 {
 /*font-size: 50px;*/ 
  margin-top: 0;
  background-color: #F7931A;
  color: #FFFFFF;
  /*padding: 20px;*/
}
  
img {
 width: 170px; 
}


.button-enabled {
  color: white; 
  padding: 16px 40px;
  text-decoration: none; 
  font-size: 20px;
  margin: 2px;
  cursor: pointer;
  border-radius: 15px; 
  background-color: #57C21D;
  border-color:#32c200;
  
}

.button-disabled {
  color: white; 
  padding: 16px 40px;
  text-decoration: none; 
  font-size: 20px;
  margin: 2px;
  cursor: pointer;
  border-radius: 15px; 
  background-color: #E63419;
  border-color: #e60c07;
}

.displ-int {  
  font-size: 20px;  
  display: flex;
  justify-content: center;  

}

.displ-int > :hover {
  width: 120px;
  transition: all .8s;
}

.displ-int__1 {
  width: 50px;
  height: 50px; 
  background: rgba(255,0,0,.3);
}

.displ-int__5 {
  width: 50px;
  height: 50px; 
  background: rgba(255,0,0,.5);
}

.displ-int__10 {
  width: 50px;
  height: 50px; 
  background: rgba(255,0,0,.7);
}

.displ-int__15 {
  width: 50px;
  height: 50px; 
  background: rgba(255,0,0,.9);
}

.int-sel {
  outline: 3px solid black;
  z-index: 100;
}

.linktree {
  size: 30px;  
}

/*
.button {
  background-color: black;
  background-color: #57C21D;
  border-radius: 10px;
  color: white;
  padding: 16px 40px;
  text-decoration: none; 
  font-size: 30px;
  margin: 2px;
  cursor: pointer;
}

.button2 {
  background-color: #E63419;
}
*/
