html {
  font-family: Helvetica;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}

h1 {
 /*font-size: 50px;*/ 
  margin-top: 0;
  background-color: #F7931A;
  color: #FFFFFF;
  /*padding: 20px;*/
}
  
img {
 width: 170px; 
}

.linktree {
  size: 30px;  
}

:visited {
  color: #0000ff;
}


/****** Versiones Anteriores ******/
.v45 {
  /*  
  font-size: 30px;
  background: #ff0000;
  color: #ffffff;
  height: 100px;
  */
  display: none;
}

.v47 {
  /*  
  font-size: 30px;
  background: #ff0000;
  color: #ffffff;
  height: 100px;
  */
  display: none;
}

/****** Botones Cotizaciones ******/
.button-enabled {
  color: white; 
  padding: 16px 40px;
  text-decoration: none; 
  font-size: 20px;
  margin: 2px;
  cursor: pointer;
  border-radius: 15px; 
  background-color: #57C21D;
  border-color:#32c200;  
}

.button-disabled {
  color: white; 
  padding: 16px 40px;
  text-decoration: none; 
  font-size: 20px;
  margin: 2px;
  cursor: pointer;
  border-radius: 15px; 
  background-color: #E63419;
  border-color: #e60c07;
}

/****** Dólar Opciones ******/
.dolar-options {
  display: flex;
  justify-content: center; 
  }

.dolar-options > a {
  padding: 5px;
  display: flex;
  justify-content: center;
  font-size: 15px;  
  width: 100px;
  height: 50px;
  text-decoration: none;

    
  border: 1px solid #009900; /*verde dólar */
  /*background: #ccc;*/
  transition: all .5s;
}

.dolar-options > a:hover {
  font-size: 22px;
  width: 150px;
  transition: all .5s;
}

.usd-sel {
  background: #009900;
  border: 10px solid red;
  color: #fff;
  text-decoration: none;
  z-index: 200;
}
/****** Intensidad Display ******/
.displ-int {    
  font-size: 20px;  
  display: flex;
  justify-content: center;  
}

.displ-int > a {
  width: 50px;
  height: 50px; 
  text-decoration: none;
  transition: all .5s;
}

.displ-int > :hover {
  width: 120px;
  font-size: 25px;
  transition: all .5s;
}

.displ-int__1 {  
  background: rgba(255,0,0,.3);
}

.displ-int__5 {  
  background: rgba(255,0,0,.5);
}

.displ-int__10 {  
  background: rgba(255,0,0,.7);
}

.displ-int__15 { 
  background: rgba(255,0,0,.9);
}

.int-sel {
  outline: 3px solid black;
  z-index: 100;
}

/****** Periodo ******/
.period { 
  display: flex;
  justify-content: center;  
}

.period-sel {
  display: flex;
  justify-content: center;  
  height: 50px;
  width: 50px;
  font-size: 20px;
  background: #aaa;
  color: white;
  border: 5px solid black;  
}

.period > a {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 50px;
  font-size: 20px;
  text-decoration: none;
  border: 1px solid #222;
  transition: all .5s;
}

.period > a:hover {
  font-size: 30px;
  width: 100px;
  transition: all .5s;
}
/****** ******/
